.business-overview-container {
	padding: 25px;
}
.card-content-container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.card-content-container div {
	margin-right: auto;
}

.card-content-ratings {
	display: flex;
	column-gap: 5px;
	align-items: center;
}

.print-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
